<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= topic.name %>
  </p>
  <table>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Enforcing min balance?</th>
      <th>Min balance amount</th>
    </tr>
  </table>

</div>
